<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Welcome to the Abstract Ascii Art Generator</h1>
    <form id="inputForm">
        <label for="chars">Enter the chars you want to use</label><br>
        <input type="text" id="chars" placeholder="oo #*"><br>

        <label for="themes">Choose your theme</label>
        <select name="characters" id="characters">
            <option value="01">digital binary</option>
            <option value="-=|#█▓▒░">bars and boxes -=|#█▓▒░"</option>
            <option value=".:;*~">fuzzy, static, grainy .:;*~"</option>
            <option value="@#%&*+=-:. ">soft gradients, shading @#%&*+=-:. </option>
            <option value="@&%$#!?()">symbols & glyphs @&%$#!?()</option>
            <option value="<>[]{}|/\\-=_+">technical, digital <>[]{}|/\\-=_+</option>
            <option value="`'"/.,;_~^">organic, hand drawn feel `'"/.,;_~^</option>
            <option></option>
        </select>

        <label for="charCount">Enter how many chars</label><br>
        <input type="number" id="charCount" placeholder="ex. 30"><br>

        <label for="lineCount">Number of lines</label><br>
        <input type="number" id="lineCount" placeholder="ex. 10"><br>

        <label for="spaceCount">Enter how many gaps</label><br>
        <input type="number" id="spaceCount"><br>

        <button type="submit">Generate</button>
    </form>
    <div id="output" class="result">Result incoming!</div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>